@use 'variables' as *;

.header {
  display: flex;
  height: 50px;
  justify-content: center;

  @media screen and (min-width: $tablet-width) {
    height: 90px;
    justify-content: space-between;
  }
}

.logo {
  align-items: center;
  display: flex;

  a {
    align-items: center;
    display: flex;
  }

  h1 {
    color: var(--text-secondary);
    font-size: 16px;
    margin-left: 4px;

    & > span {
      color: var(--text-bot-logo);
    }

    @media screen and (min-width: $tablet-width) {
      font-size: 24px;
    }
  }
}

.logoImg {
  height: 18px;
  width: 18px;

  @media screen and (min-width: $tablet-width) {
    height: 30px;
    width: 30px;
  }
}

.menu {
  position: absolute;
  top: 17px;
  left: 17px;

  button {
    border: none;

    svg path {
      fill: var(--text-primary);
    }
  }

  @media screen and (min-width: $tablet-width) {
    display: none;
  }
}

.modal {
  height: calc(100% - 50px);
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 50px;
  width: 100%;
  z-index: -1;
}

.modalContent {
  align-items: center;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transform: translate(0, -100%);
  transition: 0.25s ease-in;
}

.modalLinks {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > a {
    color: var(--text-primary);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

.open {
  .modalContent {
    transition: 0.25s;
    transition-timing-function: ease-out;
    transform: translate(0, 0%);
  }
}

.links {
  display: none;

  @media screen and (min-width: $tablet-width) {
    align-items: center;
    display: flex;

    & > a {
      color: var(--text-primary);
      font-size: 16px;
      line-height: 24px;
      margin-left: 30px;
    }

    & > a:first-child {
      margin-left: 0;
    }
  }

  @media screen and (min-width: $desktop-width) {
    & > a {
      font-size: 18px;
    }
  }
}

.home {
  @media screen and (min-width: $tablet-width) {
    display: none;
  }

  @media screen and (min-width: $desktop-width) {
    display: block;
  }
}

.selected {
  text-decoration: underline;
}

.logButton {
  background-color: var(--button-background);
  border: 2px solid var(--dark-blue);
  border-radius: 19.5rem;
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 700;
  padding: 7px 20px 8px;
  transition: all 0.1s ease;

  &:hover {
    background-color: var(--dark-blue);
    color: var(--white);
  }

  @media screen and (min-width: $tablet-width) {
    margin-left: 30px;
  }
}

.login {
  padding: 5px 35px;

  @media screen and (min-width: $tablet-width) {
    padding: 7px 28px 8px;
  }
}

.zIndexAdd {
  z-index: 1;
}
