# Dependencies
/node_modules

# Build Files
/.next/
/out/
.vercel
*.tsbuildinfo

# Mac Files
.DS_Store

# Tokens
*.pem

# Environment Variables
.env*.local
next-env.d.ts

# Logs
yarn-debug.log*
yarn-error.log*

# Claude Files
CLAUDE.md