@use '@/styles/variables' as *;

:root {
  --black: #1d1d21;
  --black-lighter: rgba(29, 29, 33, 0.2);
  --dark-blue: #01314a;
  --dark-blue-light: rgba(1, 49, 74, 0.2);
  --dark-purple: #451b40;
  --discord-light: rgba(88, 101, 242, 0.8);
  --discord-lighter: rgba(88, 101, 242, 0.2);
  --green: #6aaa64;
  --green-dark: #228b22;
  --green-hover: rgba(106, 170, 100, 0.9);
  --green-casino: #35654d;
  --green-casino-dark: #052e1a;
  --green-casino-hover: rgba(53, 101, 77, 0.9);
  --grey: #787c7e;
  --grey-dark: #888888;
  --grey-light: #cccccc;
  --grey-lighter: #e9e9ec;
  --melon: #f3adad;
  --owl-blue: #93c7ff;
  --owl-blue-light: rgba(147, 199, 255, 0.5);
  --owl-blue-lighter: rgba(147, 199, 255, 0.25);
  --owl-blue-lightest: rgba(147, 199, 255, 0.1);
  --plum: #8b4382;
  --red-casino: #cc0007;
  --red-pokemon: #c03028;
  --silver: #bbbbbb;
  --twitch-light: rgba(100, 65, 165, 0.8);
  --twitch-lighter: rgba(100, 65, 165, 0.2);
  --white: #f8f8ff;
  --white-light: #fcfcff;
  --white-true: #ffffff;
  --yellow: #d2b55b;

  --background-primary: var(--white);
  --background-secondary: var(--owl-blue);
  --button-background: var(--owl-blue-light);
  --code-background: var(--owl-blue-lighter);
  --discord-background: var(--discord-lighter);
  --discord-toggle: var(--discord-light);
  --twitch-background: var(--twitch-lighter);
  --twitch-toggle: var(--twitch-light);
  --divider: var(--black);
  --divider-light: var(--black-lighter);
  --game-tile-background: var(--white-light);
  --game-tile-border: var(--dark-blue-light);
  --game-wordle-grid-border: var(--grey-light);
  --game-wordle-guess-border: var(--grey-dark);
  --game-wordle-key: var(--grey-lighter);
  --game-wordle-key-absent: var(--grey);
  --modal-background: rgba(248, 248, 255, 0.8);
  --text-bot-logo: var(--owl-blue);
  --text-headline: var(--dark-blue);
  --text-primary: var(--black);
  --text-secondary: var(--dark-blue);
  --input-disabled-opacity: 0.8;
}

.dark {
  --background-primary: var(--black);
  --background-secondary: var(--owl-blue);
  --button-background: var(--owl-blue);
  --code-background: var(--owl-blue-light);
  --discord-background: rgba(88, 101, 242, 0.5);
  --discord-toggle: var(--discord-light);
  --twitch-background: rgba(100, 65, 165, 0.5);
  --twitch-toggle: rgba(151, 71, 255, 0.8);
  --divider: var(--white);
  --divider-light: var(--dark-blue);
  --game-tile-background: var(--black);
  --game-tile-border: var(--owl-blue-lighter);
  --game-wordle-grid-border: var(--grey-dark);
  --game-wordle-guess-border: var(--grey-light);
  --game-wordle-key: var(--grey);
  --game-wordle-key-absent: rgba(120, 124, 126, 0.5);
  --modal-background: rgba(29, 29, 33, 0.8);
  --text-bot-logo: var(--white);
  --text-headline: #d4e9ff;
  --text-primary: var(--white);
  --text-secondary: var(--owl-blue);
  --input-disabled-opacity: 0.5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: var(--font-figtree);
  font-optical-sizing: auto;
  font-size: 16px;
  transition:
    background 0.2s ease,
    color 0.2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  background: transparent;
  cursor: pointer;
  font-family: var(--font-figtree);
  font-optical-sizing: auto;

  &:disabled {
    cursor: default;
  }
}

code {
  background-color: var(--owl-blue-light);
  font-family: var(--font-source-code-pro), monospace;
  font-optical-sizing: auto;
  font-size: 12px;
  font-weight: 600;

  @media screen and (min-width: $tablet-width) {
    font-size: 16px;
  }
}

input[type='text'],
input[type='number'] {
  background-color: var(--background-primary);
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
  outline: 0;

  &:disabled {
    opacity: var(--input-disabled-opacity);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
