@use '@/styles/variables' as *;

.linked {
  padding: 0 25px;
}

.buttons {
  margin-top: 20px;

  @media screen and (min-width: $tablet-width) {
    margin-top: 46px;
  }
}

.button {
  align-items: center;
  background-color: var(--discord-background);
  border-radius: 16px;
  display: flex;
  padding: 10px 15px;

  @media screen and (min-width: $tablet-width) {
    margin: 0 15px;
    min-width: 350px;
    padding: 20px 25px;
  }

  &:first-child {
    background-color: var(--twitch-background);
    margin-bottom: 10px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 20px;
    }
  }

  svg path {
    fill: var(--text-headline);
  }

  span {
    color: var(--text-headline);
    font-size: 16px;
    font-weight: 600;
    margin-left: 8px;

    @media screen and (min-width: $tablet-width) {
      font-size: 26px;
    }
  }
}

.note {
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  display: block;
  font-size: 12px;
  margin: 10px 0 0 auto;
  padding: 0;
  text-decoration: underline;

  @media screen and (min-width: $tablet-width) {
    margin: 25px 15px 0 auto;
  }
}
