@use '@/styles/variables' as *;

.description {
  font-size: 16px;
  margin-top: 20px;

  @media screen and (min-width: $tablet-width) {
    font-size: 24px;
    margin-top: 10px;
  }
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  margin-top: 35px;

  @media screen and (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 45px;
  }

  @media screen and (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.gridItem {
  align-items: center;
  background-color: var(--game-tile-background);
  cursor: pointer;
  border: 2px solid var(--game-tile-border);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 110px;
  padding: 17px;

  @media screen and (min-width: $tablet-width) {
    padding: 34px 17px;
  }

  svg {
    margin-bottom: 7px;

    @media screen and (min-width: $tablet-width) {
      margin-bottom: 14px;
    }
  }

  span {
    color: var(--text-primary);
    font-family: var(--font-nunito);
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    @media screen and (min-width: $tablet-width) {
      font-size: 22px;
    }
  }
}
